{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

    <h1 style="text-align:center;margin-bottom:10vh">Sign in</h1>

    <form method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" value="{{ last_username }}" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" autocomplete="current-password" required>
        </div>
        <button type="submit" class="btn btn-dark">Sign in</button>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    </form>
    <style>
        form {
            margin-left: 19%;
            width: 65vw;
            padding: 2vw;
            background-color: grey;
            box-shadow: 10px 5px 10px black;
        }
        form label {
            display: inherit;
            text-align: center;
        }
        form div{
            width: 50%;
            margin-left: 23%;
            margin-bottom: 2vh;
        }
        form button{
            margin-left: 45%;
        }
    </style>
{% endblock %}
