{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 style="text-align:center; margin-bottom:10vh">Register</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <img src="captcha.jpg" />
        {{ form_start(captchaForm) }}
            {{ form_row(captchaForm.code) }}
            <button type="submit" class="btn btn-dark">Register</button>
        {{ form_end(captchaForm)}}

    {{ form_end(registrationForm) }}

    <style>
        form {
            margin-left: 19%;
            width: 65vw;
            padding: 2vw;
            background-color: grey;
            box-shadow: 10px 5px 10px black;
        }
        form label {
            display: inherit;
            text-align: center;
        }
        form div{
            width: 50%;
            margin-left: 23%;
            margin-bottom: 2vh;
        }
        form button{
            margin-left: 44%;
        }
        form img{
            margin-top: 5vh;
            margin-left: 41%;
        }
    </style>
{% endblock %}
